<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	Hello

	<a href="/webapp/first/goodbye">Say goodbye</a> or

	<a href="/webapp/exit">Exit</a> or

	<a href="/webapp/first/hello?name=Yerbol&surname=Murat">request
		with param</a>

	<p th:text=${message} />
</body>
</html>